@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    align-content: center;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 30pt;
}

#descricao {
    font-family: 'Ysabeau', sans-serif;
    font-size: 22pt;
}

body {
    background-color: #EBEBC1;
}

.ing {
    font-size: 18px;
}

.esp {
    font-size: 18px;
}

.alem {
    font-size: 18px;
}

.exc {
    font-size: 18px;
}

.har {
    font-size: 18px;
}

.equ {
    font-size: 18px;
}

b {
    font-weight:bolder;
}

#fotoPerfil {
    float: left;
    margin-right: 30px;
}

.sobreMim {
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-right: 20px;

}

.foto-descricao {
    height: 340px;
    float: center;
}

.nome {
    text-align: center;
    margin-bottom: 40px;
}

#fotoPerfil {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #cfcf9d;
}

.habilidades {
    text-align: center;
    margin: 40px;
}

.habilidades li {
    list-style: none;
    text-align: center;
    padding-right: 40px;
    margin: 5px;
}

.minhasRedes {
    text-align: center;
    margin: 40px;
}

.minhasRedes li {
    list-style: none;
    text-align: center;
    padding-right: 40px;
    margin: 5px;
}

.sites {
    text-align: center;
    margin: 40px;
}

.sites li {
    list-style: none;
    text-align: center;
    padding-right: 40px;
    margin: 5px;
}
.indice {
    text-align: center;
    margin: 40px;
}

.indice li {
    list-style: none;
    text-align: center;
    padding-right: 40px;
    margin: 5px;
}

.habilidades li:nth-child(even) {
    list-style: none;
}