@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    align-content: center;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 30pt;
}

#descricao {
    font-family: 'Ysabeau', sans-serif;
    font-size: 22pt;
}

#sobreMim {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#sobreMimT {
    text-align: center;
}

body {
    background-color: #EBEBC1;
}

.ing {
    font-size: 18px;
}

.esp {
    font-size: 18px;
}

.alem {
    font-size: 18px;
}

.exc {
    font-size: 18px;
}

.har {
    font-size: 18px;
}

.equ {
    font-size: 18px;
}

img {
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.493);
}

b {
    font-weight:bolder;
}

div div {
    border: 2px solid green;
}

#fotoPerfil {
    float: left;
    margin-right: 30px;
}

.sobreMim {
    text-align: justify;
}

.foto-descricao {
    height: 300px;
    float: center;
}